@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./materialize.scss";

body,
html {
  height: 100%;
}

.login_or_register_container {
  height: 100%;
  position: relative;

  form {
    @extend .indigo, .accent-2;
    height: 55%;
    display: flex;
    width: 100%;
    justify-content: start;
    flex-flow: column;
    position: relative;

    a {
      margin-top: 1%;
      margin-bottom: 1%;
      @extend .grey-text, .text-lighten-2;
    }
    ::placeholder {
      @extend .grey-text, .text-lighten-2;
    }

    input {
      @extend .grey-text, .text-lighten-2;
    }

    .input-field input[type="text"]:focus,
    .input-field input[type="password"]:focus,
    .input-field input[type="email"]:focus {
      @extend .grey-text, .text-lighten-2;
      border-bottom: 1px solid #e0e0e0;
      box-shadow: 0 1px 0 0 #e0e0e0;
    }

    .login_footer_hrefs,
    .register_footer_hrefs {
      display: flex;
      flex-flow: column;
      margin-top: 4%;
    }
  }

  .helper-text {
    @extend .grey-text, .text-lighten-2;
  }

  .register_form {
    height: 90%;

    .register_form_footer {
      position: absolute;
      bottom: 3%;
      width: 80%;
      left: 10%;
    }
  }

  .forgot_creds_form {
    @extend .grey-text, .text-lighten-3;
    height: 50%;
    width: 100%;

    .forgot_creds_button_wrapper {
      margin-top: 5%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-self: center;
      height: 100%;
      width: 100%;
    }

    a {
      margin-top: 3%;
    }

    input[type="submit"] {
      width: 80%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
  }
}

.home_container {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  @extend .indigo;
}

#mainSidenav {
  display: grid;
  grid-template-rows: 90% 10%;

  .subheader {
    margin-left: 5%;
  }

  .btn {
    @extend .indigo;
  }

  .sidenav_footer {
    display: flex;
    align-items: center;
    justify-content: end;

    div {
      margin: 2%;
    }
  }
}

.bikes_container {
  height: 90%;
  width: 100%;

  .no_bikes_registered_wrapper {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.bikes_container {
  ul {
    li {
      margin-bottom: 2%;
      margin-top: 2%;
    }

    .card {
      .card-title {
        margin-left: 1%;
      }
      position: relative;
      .card-img {
        position: relative;
        width: 100%;
        img {
          width: 100%;
          height: max-content;
        }
      }

      .buttons {
        padding: 3%;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
          @extend .indigo;
        }
      }
    }
  }
}

.bike_info_container {
  .button_wrapper {
    padding-bottom: 4%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
      margin: 2%;
    }
  }
}

.bike_edit_form {
  margin-top: 8%;
  .carousel {
    height: 180px;
  }

  .carousel-item.active {
    min-height: 160px;
  }

  .carousel-item {
    min-height: 20%;
    img {
      z-index: 9;
    }

    .button_wrapper {
      z-index: 10;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 2%;

      .delete_button {
        @extend .red;
      }

      .undo_button {
        @extend .indigo;
      }
    }
  }

  .edit_bike_button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      @extend .indigo;
    }
  }

  #uploadImagesCarouselItem {
    @extend .orange;
    display: flex;
    justify-content: center;
    height: 161px !important;
    min-height: 161px;

    .input-field {
      margin-top: 20%;
      .btn-small {
        @extend .indigo;
      }
    }
  }
}

#adminSidenavButton {
  @extend .right;
}

#adminPanelSidenav {
  display: grid;
  grid-template-rows: 90% 10%;
}

.admin_panel_container {
  height: 90%;
  .admin_panel_accounts_section {
    display: grid;
    grid-template-rows: 30% 70%;
    height: 90%;

    .accounts_header {
      @extend .grey, .lighten-2;
      margin-top: 4%;

      .input_field_wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        height: 5%;
        margin-top: 5%;
        margin-bottom: 4%;
      }

      .input_field_button_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          @extend .indigo;
        }
      }

      .input-field {
        margin: 0;
        margin-right: 5%;
      }

      .button_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        a {
          @extend .indigo;
        }
      }
    }

    .account_entry a {
      @extend .grey, .lighten-2;
      display: grid;
      grid-template-columns: 60% 40%;
      text-align: left;
      color: initial;

      h5 {
        padding-left: 10%;
      }

      h6 {
        padding-left: 10%;
      }
    }
  }
}

.create_officer_account_container {
  margin-top: 8%;

  .create_officer_account_form {
    .button_wrapper {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;

      input {
        margin-right: 3%;
      }

      a {
        margin-left: 3%;
      }
    }
  }
}

.admin_view_account_details_container {
  .container {
    margin-top: 10%;
  }
  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      @extend .indigo;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}

.reports_container {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  height: 90%;

  .no_reports_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  a {
    @extend .indigo;
  }

  .reports_header {
    margin-top: 4%;

    input[type="submit"] {
      @extend .indigo;
    }

    .search_reports_form {
      @extend .grey, .lighten-2;
      height: max-content;
      min-height: 30%;
      padding-top: 5%;

      .datepicker_input {
        padding-top: 5%;
      }

      input[name="search_reports_button"] {
        @extend .indigo;
      }

      .button_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        padding-top: 5%;
      }
    }

  }
}

.report_stolen_bike_form {
  margin-top: 10%;
  textarea {
    height: 10% !important;
    overflow-y: scroll;
  }

  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      @extend .indigo;
    }
  }
}

.view_report_container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% auto 80% auto;
  margin-top: 4%;

  #viewReportDescription {
    height: 100% !important;
    overflow-y: scroll;
  }

  .comments_container {
    margin-top: 4%;
    margin-bottom: 2%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 15% 60% 15%;

    .comments_container_header {
      margin-bottom: 4%;
      margin-top: 4%;
    }

    .comments {
      margin: 0;
      overflow-y: scroll;
      .comment {
        @extend .grey, .lighten-1;
        display: block;
        display: flex;
        flex-flow: column;
        margin-top: 1%;
        margin-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        height: max-content;
        min-height: 5%;
        p {
          margin: 1%;
          font-size: 1.2rem;
        }

        .comment_footer {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
    .new_comment_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form {
      margin-bottom: 1%;
      display: grid;
      grid-template-columns: 75% 25%;
      margin-left: 2%;
      margin-right: 2%;

      .input-field {
        margin: 0;
      }

      .button_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          @extend .indigo;
        }
      }
    }
  }

  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding: 5%;

    a {
      @extend .indigo;
      margin: 2%;
    }
  }

}

.investigations_container {
  height: 90%;
  width: 100%;

  .no_investigations_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .investigations_list_container {
    .investigations_list_search {
      margin-top: 5%;
      .button_wrapper {
        margin-top: 6%;
        margin-bottom: 6%;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="submit"] {
          @extend .indigo;
        }
      }
    }

    .investigations {
      margin-top: 10%;
      .card {
        .card-action {
          a {
            @extend .indigo;
            margin: 1%;
          }
        }
      }
    }
  }
}

.view_investigation_container {
  display: grid;
  height: 100%;
  grid-template-rows: 60% 60% 100% 20%;

  .updates_container {
    display: grid;
    grid-template-rows: 20% 60% 20%;

    .button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        @extend .indigo;
      }
    }

    .updates_container_header {
      margin: 0;
      display: flex;
      align-items: center;

      h4 {
        margin: 0;
        margin-left: 4%;
      }
    }
    .updates {
      height: 100%;
      margin: 0;
      overflow-y: scroll;

      .update {
        @extend .grey, .lighten-1;
        margin: 1%;
        min-height: 50%;
        padding-top: 1%;
        padding-bottom: 1%;
      }
    }

    .updates .no_updates_container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .investigation_metadata_container {
    height: 100%;

    .investigators_list {
      display: grid;
      grid-template-rows: 70% 30%;

      .investigators {
        overflow-y: scroll;
        .investigator {
          display: grid;
          grid-template-columns: 60% 40%;
          margin-top: 2%;
          margin-bottom: 2%;

          .button_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
              @extend .indigo;
            }
          }

          .username_wrapper {
            display: flex;
            align-items: center;

            h5 {
              margin: 0;
              margin-left: 4%;
            }
          }
        }
      }
      .add_investigator_form {
        display: flex;
        flex-flow: row;
        align-items: center;

        input[type="submit"] {
          @extend .indigo;
          margin-left: 2%;
        }
      }
    }
  }

  .comments_container {
    display: grid;
    grid-template-rows: 20% 60% 20%;

    .create_comment_form {
      display: flex;
      flex-flow: row;
      align-items: center;

      input[type="submit"] {
        @extend .indigo;
        margin-left: 2%;
      }

      input[type="text"] {
        margin-right: 2%;
      }

      input {
        margin: 0;
      }
    }

    .comments {
      height: 100%;
      margin: 0;
      overflow-y: scroll;

      .comment {
        @extend .grey, .lighten-1;
        margin: 1%;
        min-height: 30%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 1.1rem;
      }

      .no_comments_container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .investigation_metadata_container {
    display: grid;
    grid-template-rows: 12% 35% 12% auto;
    h4 {
      margin: 0;
    }

    .metadata_container_title {
      display: flex;
      align-items: center;
      margin-left: 4%;
    }
  }

  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 2%;
      @extend .indigo;
    }
  }
}

.add_investigation_update_container {
  height: 90%;
  form {
    height: 100%;
    display: grid;
    grid-template-rows: 80% 10% 10%;

    .description_wrapper {
      height: 100%;
    }

    .update_description_field {
      margin-top: 10% !important;
      height: 90%;
    }

    textarea {
      height: 100% !important;
      overflow-y: scroll;
    }

    .input-field {
      margin: 0;
    }

    .file-field {
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    .button_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        @extend .indigo;
      }
    }
  }
}

.view_update_evidence_container {
  height: 90%;
  display: grid;
  grid-template-rows: 20% 60% 20%;

  .view_update_evidence_container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .carousel_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      @extend .btn-small, .indigo;
    }
  }
}
