@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./materialize.scss";

body,
html {
  height: 100%;
}

.login_or_register_container {
  height: 100%;
  position: relative;

  form {
    @extend .indigo, .accent-2;
    height: 55%;
    display: flex;
    width: 100%;
    justify-content: start;
    flex-flow: column;
    position: relative;

    a {
      margin-top: 1%;
      margin-bottom: 1%;
      @extend .grey-text, .text-lighten-2;
    }
    ::placeholder {
      @extend .grey-text, .text-lighten-2;
    }

    input {
      @extend .grey-text, .text-lighten-2;
    }

    .input-field input[type="text"]:focus,
    .input-field input[type="password"]:focus,
    .input-field input[type="email"]:focus {
      @extend .grey-text, .text-lighten-2;
      border-bottom: 1px solid #e0e0e0;
      box-shadow: 0 1px 0 0 #e0e0e0;
    }

    .login_footer_hrefs,
    .register_footer_hrefs {
      display: flex;
      flex-flow: column;
      margin-top: 4%;
    }
  }

  .helper-text {
    @extend .grey-text, .text-lighten-2;
  }

  .register_form {
    height: 90%;

    .register_form_footer {
      position: absolute;
      bottom: 3%;
      width: 80%;
      left: 10%;
    }
  }

  .forgot_creds_form {
    @extend .grey-text, .text-lighten-3;
    height: 50%;
    width: 100%;

    .forgot_creds_button_wrapper {
      margin-top: 5%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-self: center;
      height: 100%;
      width: 100%;
    }

    a {
      margin-top: 3%;
    }

    input[type="submit"] {
      width: 80%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
  }
}

.home_container {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  @extend .indigo;
}

#mainSidenav {
  display: grid;
  grid-template-rows: 90% 10%;

  .subheader {
    margin-left: 5%;
  }

  .btn {
    @extend .indigo;
  }

  .sidenav_footer {
    display: flex;
    align-items: center;
    justify-content: end;

    div {
      margin: 1%;
    }
  }
}

.bikes_container {
  height: 100%;
  width: 100%;

  .no_bikes_registered_wrapper {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.bikes_container {
  ul {
    height: max-content;
    li {
      margin-bottom: 2%;
      margin-top: 2%;
    }

    .card {
      .card-title {
        margin-left: 1%;
      }
      position: relative;
      .card-img {
        position: relative;
        width: 100%;
        img {
          width: 100%;
          height: max-content;
        }
      }

      .buttons {
        padding: 3%;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
          @extend .indigo;
        }
      }
    }
  }
}

.bike_info_container {
  #bikeInfoImageCarousel {
    margin-top: 4%;
  }

  .button_wrapper {
    padding-bottom: 4%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    a {
      margin: 2%;
    }
  }
}

.bike_edit_form {
  margin-top: 8%;
  .carousel {
    height: 180px;
  }

  .carousel-item.active {
    min-height: 160px;
  }

  .carousel-item {
    min-height: 20%;
    img {
      z-index: 9;
    }

    .button_wrapper {
      z-index: 10;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 2%;

      .delete_button {
        @extend .red;
      }

      .undo_button {
        @extend .indigo;
      }
    }
  }

  .edit_bike_button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      @extend .indigo;
    }
  }

  #uploadImagesCarouselItem {
    @extend .orange;
    display: flex;
    justify-content: center;
    height: 161px !important;
    min-height: 161px;

    .input-field {
      margin-top: 20%;
      .btn-small {
        @extend .indigo;
      }
    }
  }
}
