@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./materialize.scss";

body,
html {
  height: 100%;
}

.login_or_register_container {
  height: 100%;
  position: relative;

  form {
    @extend .indigo, .accent-2;
    height: 55%;
    display: flex;
    width: 100%;
    justify-content: start;
    flex-flow: column;
    position: relative;

    a {
      margin-top: 1%;
      margin-bottom: 1%;
      @extend .grey-text, .text-lighten-2;
    }
    ::placeholder {
      @extend .grey-text, .text-lighten-2;
    }

    input {
      @extend .grey-text, .text-lighten-2;
    }

    .input-field input[type="text"]:focus,
    .input-field input[type="password"]:focus,
    .input-field input[type="email"]:focus {
      @extend .grey-text, .text-lighten-2;
      border-bottom: 1px solid #e0e0e0;
      box-shadow: 0 1px 0 0 #e0e0e0;
    }

    .login_footer_hrefs,
    .register_footer_hrefs {
      display: flex;
      flex-flow: column;
      margin-top: 4%;
    }
  }

  .helper-text {
    @extend .grey-text, .text-lighten-2;
  }

  .register_form {
    height: 90%;

    .register_form_footer {
      position: absolute;
      bottom: 3%;
      width: 80%;
      left: 10%;
    }
  }

  .forgot_creds_form {
    @extend .grey-text, .text-lighten-3;
    height: 50%;
    width: 100%;

    .forgot_creds_button_wrapper {
      margin-top: 5%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-self: center;
      height: 100%;
      width: 100%;
    }

    a {
      margin-top: 3%;
    }

    input[type="submit"] {
      width: 80%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
  }

  @media #{$medium-and-up} {
    .login_form {
      height: 30%;
    }

    .forgot_creds_form {
      height: 30%;
    }

    .register_form {
      height: 50%;
    }
  }

  @media #{$large-and-up} {
    .login_form {
      height: 40%;
    }

    .forgot_creds_form {
      height: 40%;
    }

    .register_form {
      height: 55%;
    }
  }
}

.home_container {
  height: 100%;
  width: 100%;
  position: relative;
}

.badge {
  border-radius: 5px;

  @media #{$small-and-down} {
    margin-left: 5px !important;
  }
}

nav {
  @extend .indigo;
}

#mainSidenav {
  display: grid;
  grid-template-rows: 90% 10%;

  .subheader {
    margin-left: 5%;
  }

  .btn {
    @extend .indigo;
  }

  .sidenav_username {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
    color: inherit;

    .name {
      width: min-content;
      margin: 0;
    }

    .badge {
      margin: 0;
      border-radius: 5px;
      margin-left: 1%;
    }
  }

  .sidenav_footer {
    display: flex;
    align-items: center;
    justify-content: end;

    div {
      margin: 2%;
    }
  }
}

#registerBike {
  overflow: scroll !important;
  max-height: 90% !important ;
  .register_a_bike_form {
    .submit_button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        margin-right: 2%;
      }

      a {
        margin-left: 2%;
      }
    }
  }
}

#viewBike {
  .bike_info_container {
    .button_wrapper {
      a {
        margin-left: 1% !important;
        margin-right: 1% !important;
      }
    }
  }
}

#editBike {
  .bike_edit_container {
    #uploadImagesCarouselItem {
      min-height: 400px !important ;
    }

    .carousel {
      height: 400px !important;
    }

    .edit_button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.bikes_container {
  height: 90%;
  width: 100%;
  .no_bikes_registered_wrapper {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  ul {
    li {
      margin-bottom: 2%;
      margin-top: 2%;
    }

    .card {
      .card-title {
        margin-left: 1%;
      }
      position: relative;
      .card-img {
        margin-top: 2%;
        position: relative;
        width: 100%;
        img {
          width: 100%;
          height: max-content;
        }
      }

      .buttons {
        padding: 3%;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
          @extend .indigo;
        }
      }
    }
  }

  @media #{$medium-and-up} {
    ul {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;

      li {
        margin-top: 0;
        margin-bottom: 0;
        width: 47%;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;

        .card {
          .card-title {
            padding-bottom: 4%;
            margin-left: 2%;
          }
        }
      }
    }
  }

  @media #{$large-and-up} {
    ul {
      margin: 1%;

      li {
        width: 30%;
      }
    }
  }
}

.bike_info_container {
  .button_wrapper {
    padding-bottom: 4%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
      margin: 2%;
    }
  }
}

.bike_edit_form {
  margin-top: 8%;
  .carousel {
    height: 180px;
  }

  .carousel-item.active {
    min-height: 160px;
  }

  .carousel-item {
    min-height: 20%;
    img {
      z-index: 9;
    }

    .button_wrapper {
      z-index: 10;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 2%;

      .delete_button {
        @extend .red;
      }

      .undo_button {
        @extend .indigo;
      }
    }
  }

  .edit_bike_button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      @extend .indigo;
    }
  }

  #uploadImagesCarouselItem {
    @extend .orange;
    display: flex;
    justify-content: center;
    height: 161px !important;
    min-height: 161px;

    .input-field {
      margin-top: 20%;
      .btn-small {
        @extend .indigo;
      }
    }
  }
}

#adminSidenavButton {
  @extend .right;
}

#adminPanelSidenav {
  display: grid;
  grid-template-rows: 90% 10%;
}

.admin_panel_container {
  height: 90%;
  .admin_panel_accounts_section {
    display: flex;
    flex-flow: column;
    grid-template-rows: 30% 70%;
    height: 90%;

    .accounts_header {
      @extend .grey, .lighten-2;
      margin-top: 4%;
      padding: 2%;

      .search_accounts_form {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        .input-field {
          width: 70%;
        }
        .search_accounts_button_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .input-field {
        margin: 0;
        margin-right: 5%;
      }

      .button_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 2%;

        a {
          @extend .indigo;
        }
      }
    }

    .account_entry a {
      @extend .grey, .lighten-2;
      display: grid;
      grid-template-columns: 60% 40%;
      text-align: left;
      color: initial;

      h5 {
        padding-left: 10%;
      }

      h6 {
        padding-left: 10%;
      }
    }
  }

  @media #{$large-and-up} {
    .admin_panel_accounts_section {
      .accounts_header {
        .input-field {
          margin-right: 3%;
        }
      }
    }
  }
}

#createOfficer {
  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="submit"] {
      margin-right: 0.5%;
    }

    a {
      margin-left: 0.5%;
    }
  }
}

.create_officer_account_container {
  margin-top: 8%;

  .create_officer_account_form {
    .button_wrapper {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;

      input {
        margin-right: 3%;
      }

      a {
        margin-left: 3%;
      }
    }
  }
}

.admin_view_account_details_container {
  .container {
    margin-top: 10%;
  }
  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      @extend .indigo;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}

.reports_container {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  height: 90%;

  .no_reports_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    @extend .indigo;
  }

  .reports_header {
    margin-top: 4%;

    input[type="submit"] {
      @extend .indigo;
    }

    .search_reports_form {
      @extend .grey, .lighten-2;
      height: max-content;
      min-height: 30%;
      padding-top: 5%;

      .datepicker_input {
        padding-top: 5%;
      }

      input[name="search_reports_button"] {
        @extend .indigo;
      }

      .button_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        padding-top: 5%;
      }
    }
  }

  @media #{$large-and-up} {
    .search_reports_form {
      .button_wrapper {
        padding: 2% !important;
      }

      .switch_wrapper {
        margin-top: 1%;
        margin-bottom: 1%;
      }
    }
    .reports {
      margin: 2%;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      .card {
        width: 30%;
        margin: 1%;
      }
    }
  }
}

.pac-container,
.pac-item {
  z-index: 2147483647 !important;
}

.report_stolen_bike_form {
  margin-top: 3%;
  textarea {
    height: 10% !important;
    overflow-y: scroll;
  }

  .map-field {
    width: 100%;
    overflow: visible;

    input[type="text"] {
      @extend .white;
      margin-top: 2%;
      width: 80%;
      margin-left: 2%;
    }

    @media #{$small-and-down} {
      height: 100vh;

      input[type="text"] {
        width: 90%;
        margin: 2%;
      }
    }

    #map {
      width: 100%;
      height: 90%;
    }
  }

  .button_wrapper {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      @extend .indigo;
    }
  }
}

#viewReport {
  .view_report_container {
    .comments_container {
      grid-template-rows: 10% 5% 70% 15%;
      .new_comment_container {
        width: 100%;

        form {
          width: 90%;
        }
      }
    }

    .map-field {
      margin-bottom: 5%;
      height: 35vh;
      #map {
        height: 100%;
      }
    }
  }
}

.view_report_container {
  min-height: 100%;
  margin-top: 4%;

  #viewReportDescription {
    height: 100% !important;
    overflow-y: scroll;
  }

  .view_report_form {
    .map-field {
      height: 65vh;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      #map {
        height: 90%;
        width: 100%;
      }
    }
  }

  .civilian_comments_container {
    grid-template-rows: 10% 80% 10%;
  }

  .comments_container {
    display: grid;
    margin-top: 4%;
    margin-bottom: 2%;
    height: 100vh !important;

    .comments_container_header {
      margin-bottom: 4%;
      margin-top: 4%;
    }

    .comments {
      margin: 0;
      overflow-y: scroll;
      display: flex;
      flex-flow: column;

      .not_client_comment {
        @extend .grey, .lighten-2;

        .comment_footer {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .comment_content {
          text-align: right;
        }

        .comment_header {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }

      .client_comment {
        @extend .grey, .lighten-1;
        .comment_footer {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }

        .comment_header {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }

      .comment {
        width: 100%;
        .comment_content_wrapper {
          height: max-content;
          margin: 2%;
        }

        border-radius: 5px;
        display: grid;
        grid-template-rows: 10% auto 10%;
        margin-top: 1%;
        margin-bottom: 1%;

        .comment_content {
          display: inline-block;
          overflow-wrap: anywhere;
          width: 100%;

          p {
            margin: 0;
          }
        }
        .comment_header {
          .author {
            font-size: 1.2rem;
          }
        }

        .comment_footer {
          .date {
            font-size: 0.9rem;
          }
        }
      }
    }
    .new_comment_container {
      margin-top: 6%;
      display: flex;
      justify-content: center;
      align-items: center;

      textarea {
        margin: 0;
      }
    }

    form {
      margin-bottom: 1%;
      display: grid;
      grid-template-columns: 70% 30%;

      .input-field {
        margin: 0;
      }

      .button_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          @extend .indigo;
        }
      }
    }
  }

  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-top: 7%;

    a {
      @extend .indigo;
      margin: 1%;
    }
  }
}

.investigations_container {
  height: 90%;
  width: 100%;

  .no_investigations_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .investigations_list_container {
    .investigations_list_search {
      margin-top: 1%;

      .switch {
        margin-top: 2%;
        margin-bottom: 2%;
      }

      .button_wrapper {
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="submit"] {
          @extend .indigo;
        }
      }
    }

    .investigations {
      .card {
        .card-action {
          a {
            @extend .indigo;
            margin: 1%;
          }
        }
      }
    }
  }

  @media #{$large-and-up} {
    .investigations_list_container {
      .investigations {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
      }
    }
  }
}

.view_investigation_container {
  height: 100%;

  .updates_container {
    margin-top: 4%;

    .button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        @extend .indigo;
      }
    }

    .updates_container_header {
      margin: 0;
      display: flex;
      align-items: center;

      h4 {
        margin: 0;
        margin-left: 4%;
      }
    }
    .updates {
      height: 100%;
      margin: 0;
      overflow-y: scroll;

      .update {
        @extend .grey, .lighten-1;
        display: grid;
        grid-template-rows: 10% auto 10%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 5px;
        .update_content_wrapper {
          margin: 2%;

          .update_header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 1.2rem;

            .badge {
              margin-left: 5px;
            }
          }

          .update_content {
            .images {
              display: flex;
              flex-wrap: wrap;
              flex-flow: row;
              margin: 1%;

              .image {
                margin: 2%;
                img {
                  height: 10vh;
                  width: auto;
                }
              }
            }
          }
          .update_footer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: .9rem;
          }
        }
      }
    }

    .updates .no_updates_container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .investigation_metadata_container {
    height: 100%;

    .investigators_list {
      display: grid;
      grid-template-rows: 70% 30%;

      .investigators {
        overflow-y: scroll;
        .investigator {
          display: grid;
          grid-template-columns: 60% 40%;
          margin-top: 2%;
          margin-bottom: 2%;

          .button_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
              @extend .indigo;
            }
          }

          .username_wrapper {
            display: flex;
            align-items: center;

            h5 {
              margin: 0;
              margin-left: 4%;
            }
          }
        }
      }
      .add_investigator_form {
        display: flex;
        flex-flow: row;
        align-items: center;

        input[type="submit"] {
          @extend .indigo;
          margin-left: 2%;
        }
      }
    }
  }

  .comments_container {
    display: grid;
    grid-template-rows: 20% 60% 20%;

    .create_comment_form {
      display: flex;
      flex-flow: row;
      align-items: center;

      input[type="submit"] {
        @extend .indigo;
        margin-left: 2%;
      }

      input[type="text"] {
        margin-right: 2%;
      }

      input {
        margin: 0;
      }
    }

    .comments {
      height: 100vh;
      margin: 0;
      overflow-y: scroll;

      .not_client_comment {
        @extend .grey, .lighten-2;

        .comment_header {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }

        .comment_content {
          text-align: right;
        }

        .comment_footer {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }

      .client_comment {
        @extend .grey, .lighten-1;

        .comment_header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .comment_content {
          text-align: left;
        }

        .comment_footer {
          display: flex;
          align-items: center;
          justify-self: flex-end;
        }
      }

      .comment {
        display: grid;
        grid-template-rows: 10% auto 10%;
        border-radius: 5px;
        margin-top: 1%;
        margin-bottom: 1%;

        .comment_content_wrapper {
          margin: 2%;
        }

        .comment_header {
          font-size: 1.2rem;
        }

        .comment_content {
          p {
            margin: 0;
          }
        }
        .comment_footer {
          font-size: 0.9rem;
        }
      }

      .no_comments_container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .investigation_metadata_container {
    .metadata_container_title {
      display: flex;
      align-items: center;
      margin-left: 4%;
    }
  }

  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a {
      margin: 2%;
      @extend .indigo;
    }
  }
}

#viewInvestigation {
  .modal_view_investigation_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    .updates_container {
      height: 50vh;
      margin-bottom: 10%;

      .updates_container_header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
      }

      .updates {
        overflow-y: scroll;

        .no_updates_container {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .update {
          @extend .grey, .lighten-1;
          margin-top: 0.5%;
          margin-bottom: 0.5%;

          .images {
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            align-items: center;
            overflow-x: scroll;

            .image {
              margin: 0.5%;
            }
          }
          .content {
            font-size: 1.2rem;
          }

          .update_date {
            margin-bottom: 1.5%;
          }
        }
      }
    }

    .comments_container {
      height: 50vh;
      margin-bottom: 10%;
      .comments_container_header {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .create_comment_form {
        margin-top: 2%;
        margin-bottom: 1%;
        display: grid;
        grid-template-columns: 80% 20%;

        .input-field {
          margin: 0;
        }

        .button_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          input[type="submit"] {
            @extend .indigo;
          }
        }
      }

      .comments {
        height: 80%;
        overflow-y: scroll;
        .no_comments_container {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .comment {
          margin-top: 0.5%;
          margin-bottom: 0.5%;
          @extend .grey, .lighten-1;

          .content {
            font-size: 1.2rem;
          }

          .comment_date {
            margin-bottom: 1.5%;
          }
        }
      }
    }

    .investigation_metadata_container {
      .metadata_container_title {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .investigators_list {
        max-height: 20vh;
        min-height: 10vh;

        .investigators {
          overflow-y: scroll;
          overflow-x: hidden;
          .investigator {
            margin-bottom: 0;
          }
        }
        .add_investigator_form {
          display: grid;
          grid-template-columns: 80% 20%;

          .button_wrapper {
            input[type="submit"] {
              @extend .indigo;
            }
          }
        }
      }
    }

    .button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        @extend .indigo;
        margin: 0.5%;
      }
    }
  }
}

#addUpdate {
  .add_investigation_update_form {
    .input-field {
      textarea {
        height: 40vh !important;
      }
    }

    .button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .btn {
        margin: 0.5%;
      }
    }
  }
}

.add_investigation_update_container {
  height: 90%;
  form {
    height: 100%;
    display: grid;
    grid-template-rows: 80% 10% 10%;

    .description_wrapper {
      height: 100%;
    }

    .update_description_field {
      margin-top: 10% !important;
      height: 90%;
    }

    textarea {
      height: 100% !important;
      overflow-y: scroll;
    }

    .input-field {
      margin: 0;
    }

    .file-field {
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    .button_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        @extend .indigo;
      }
    }
  }
}

.view_update_evidence_container {
  height: 90%;
  display: grid;
  grid-template-rows: 20% 60% 20%;

  .view_update_evidence_container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .carousel_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      @extend .btn-small, .indigo;
    }
  }
}

.vulnerability_map_container {
  height: 100%;
  width: 100%;

  #map {
    height: 50%;
  }

  .report_info_window {
    padding: 4%;

    .body_content {
      font-size: 1.1rem;
    }

    .button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media #{$large-and-up} {
    #map {
      height: 90%;
    }
  }
}

.account_settings_container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    @extend .indigo;
  }

  .account_settings {
    div {
      display: flex;
      flex-flow: column;
      align-items: center;

      a {
        margin: 2%;
        white-space: nowrap;
        width: min-content;
      }
    }
  }
}

#deleteAccount {
  .delete_account_form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;

    input,
    a {
      @extend .indigo;
      margin: 1%;
    }
  }
}

#changePassword {
  width: 40%;
  .change_password_form {
    .button_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      input,
      a {
        @extend .indigo;
        margin: 1%;
      }
    }
  }
}
